@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #232323;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: 'Cinzel', serif;
  color: #d6c78e;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  font-size: 3.2rem;
  font-weight: 200;
  color: #d6c78e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section-title::before {
  content: '';
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #d6c78e;
}

.section-title span {
  font-weight: 900;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header__text {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 2em;
}

.header__text p {
  font-weight: 200;
}

.header__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: sepia();
          filter: sepia();
  background-image: url("../img/bitcoin-small.jpg");
}

.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.336);
}

.header__arrow {
  display: none;
}

.header__bg-icon-one, .header__bg-icon-two {
  position: absolute;
  opacity: 0.05;
  z-index: -5;
}

.header__bg-icon-one {
  bottom: 2em;
  right: -1em;
  width: 50%;
  -webkit-animation: rotate-right 55s infinite linear;
          animation: rotate-right 55s infinite linear;
}

.header__bg-icon-two {
  display: none;
}

.header .hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 500;
}

.header .hamburger-inner, .header .hamburger-inner::after, .header .hamburger-inner::before {
  background-color: #fff;
  z-index: 500;
}

.nav-mobile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #fff;
  z-index: 10;
}

.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-desktop {
  display: none;
}

.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3rem;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.nav__link:hover {
  color: #d6c78e;
}

.cards {
  background-color: #191919;
  overflow: hidden;
}

.cards__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  gap: 2em;
  padding: 6em 2em;
}

.cards__card {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 3em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #232323;
  -webkit-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s;
  z-index: 5;
}

.cards__card:hover {
  background-color: #191919;
  border: 1px solid #d6c78e;
  z-index: 1;
}

.cards__card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #d6c78e;
  border-radius: 8px;
  opacity: 0;
}

.cards__card:hover::before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.cards__card img {
  margin-bottom: 0.5em;
  width: 60px;
}

.cards__card h3 {
  margin-bottom: 0.6em;
  text-transform: uppercase;
}

.cards__card-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

.cards__card-two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

.cards__card-three {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

.info {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title title title' 'box box box' 'box box box';
  padding: 6em 2em;
}

.info__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.info__boxes {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: box;
}

.info__box-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: sepia();
          filter: sepia();
}

.info__box-title {
  margin: 0.3em 0em;
  font-size: 2.6rem;
  color: #d6c78e;
}

.info__box-text {
  margin-bottom: .5em;
}

.info__bg-icon {
  display: none;
}

.info__box-link {
  display: block;
  margin-bottom: 2em;
  font-weight: 900;
  color: #d6c78e;
  text-align: right;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.info__box-link:hover {
  color: #9b9165;
}

@media (min-width: 576px) {
  .info {
        grid-template-areas: 'title box' 'title box' 'title box';
    padding: 10em 2em;
  }
  .info__box {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .info__title {
    padding: 0em 1em;
  }
  .info__box-text, .info__box-img {
    max-width: 500px;
  }
  .info__bg-icon {
    position: absolute;
    display: block;
    opacity: 0.05;
    z-index: -5;
  }
  .info__bg-icon-one {
    top: 15%;
    width: 20%;
    left: 5%;
    -webkit-animation: rotate-right 70s infinite;
            animation: rotate-right 70s infinite;
  }
  .info__bg-icon-two {
    bottom: 10%;
    width: 35%;
    left: 5%;
    -webkit-animation: rotate-left 80s infinite;
            animation: rotate-left 80s infinite;
  }
  .info__bg-icon-three {
    bottom: 45%;
    width: 45%;
    left: 16%;
    -webkit-animation: rotate-left 70s infinite;
            animation: rotate-left 70s infinite;
  }
  .info__bg-icon-four {
    bottom: 35%;
    width: 25%;
    left: -10%;
    -webkit-animation: rotate-right 80s infinite;
            animation: rotate-right 80s infinite;
  }
}

@media (min-width: 768px) {
  .cards__box {
    padding: 10em 2em;
  }
  .cards__card-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .cards__card-two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  .cards__card-three {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7 / 10;
  }
}

@media (min-width: 992px) {
  h1.company-name {
    font-size: 6rem;
  }
  .section-title {
    font-size: 4.8rem;
  }
  .section-title::before {
    height: 4px;
  }
  .header {
    -ms-grid-rows: auto (1fr)[2];
        grid-template-rows: auto repeat(2, 1fr);
  }
  .header__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .header__text p {
    font-size: 1.8rem;
  }
  .header__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 3em;
    left: 48%;
    padding: 2em;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 35px;
  }
  .header__bg-icon-one {
    left: 6em;
    bottom: 8em;
    width: 10%;
  }
  .header__bg-icon-two {
    display: block;
    left: 10em;
    top: 6em;
    width: 20%;
    -webkit-animation: rotate-left 55s infinite linear;
            animation: rotate-left 55s infinite linear;
  }
  .header .hamburger {
    display: none;
  }
  .nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .nav-desktop {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav__link {
    color: #fff;
  }
  .nav__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #d6c78e;
    opacity: 0;
  }
  .nav__link:hover::before {
    -webkit-animation: pulse 0.8s;
            animation: pulse 0.8s;
  }
}

@media (min-width: 1200px) {
  .header__text p {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=main.css.map */